body {
    background-color: rgb(178, 212, 224);
    display: flex;
    flex-direction: column;
    align-items: center;


}

.title {
    color: aliceblue;
    font-size: 60px;
    font-family: 'Edu TAS Beginner', cursive;
    text-align: center;


}


.background-image {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url(diamond.jpg), url(diamond\ 2.jpg);
    /* Adjust the positioning of each image */
    background-position: left, right;

    /* Set the size of each image */
    background-size: 50%, 50%;

    /* Ensure images are not repeated */
    background-repeat: no-repeat, no-repeat;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}




/* 

.centered-text {
    position: absolute;
    top: 60%;
    left: 50%;
    color: aliceblue;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Edu TAS Beginner', cursive;

}

*/




/* Buttons */

*/ .button-container {
    display: flex;
    text-align: right;
    margin: 5px;
}

.button-container button {
    font-size: 30px;
    font-family: 'Audiowide', sans-serif;
    margin: 10px;
    color: rgba(0, 64, 255, 0.87);
    text-decoration: underline;

}