body {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.background-image {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url(diamond.jpg), url(diamond\ 2.jpg);
    background-position: left, right;
    background-size: 50%, 50%;
    background-repeat: no-repeat, no-repeat;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}


.center-text {
    font-size: 6em;
    font-family: 'Audiowide', sans-serif;
    margin: 10px;
    margin-top: 200px;
    margin-left: 5px;
    color: rgba(232, 235, 243, 0.87);
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.8);
    animation: glowing 2s infinite;


}



.button-container {
    display: flex;
    text-align: right;
    margin: 5px;
    margin-left: -300px;
}


.button-container button {
    font-size: 30px;
    font-family: 'Audiowide', sans-serif;
    margin: 10px;
    margin-left: 5px;
    color: rgba(232, 235, 243, 0.87);
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.8);
    animation: glowing 2s infinite;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 30px rgba(0, 255, 255, 1), 0 0 60px rgba(0, 255, 255, 1), 0 0 90px rgba(0, 255, 255, 1);
    }

    50% {
        text-shadow: 0 0 60px rgba(0, 255, 255, 1), 0 0 90px rgba(0, 255, 255, 1), 0 0 120px rgba(0, 255, 255, 1);
    }

    100% {
        text-shadow: 0 0 30px rgba(0, 255, 255, 1), 0 0 60px rgba(0, 255, 255, 1), 0 0 90px rgba(0, 255, 255, 1);
    }
}

.button-container button:hover {
    animation: electric-pulse .75s ease-in-out infinite;
}

@keyframes electric-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}